<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<!-- Products will be dynamically added on addProducts.js -->
	<section th:fragment="profile" id="profile-cover">
		<div class="profile-container">
			<div class="profile-image-cover">
				<img th:src="@{/Images/profile-icon.png}" alt=""
					class="profile-image" id="profile-image" />
					
					<section class="profile-info">

				<div class="pro-inf">
					<p id="userName">username</p>
				</div>
				<div class="pro-inf">
					<p>Email : </p>
					<p id="email">Email</p>
				</div>
				<div class="pro-inf">
					<p>Role :</p>
					<p id="role">Role</p>
				</div>
				<div th:classappend="${userrole == 'admin' ?'pro-inf': 'hidden'}">
					<p>Salary :</p>
					<p id="salary">1200</p>
				</div>
				<div th:classappend="${userrole == 'admin' ?'pro-inf': 'hidden'}">
					<p>Post :</p>
					<p id="post">Post</p>
				</div>
				<div class="pro-inf">
					<p>D.O.J :</p>
					<p id="doj"></p>
				</div>
				<div class="pro-inf">
					<p>D.O.L :</p>
					<p id="dol"></p>
				</div>
			</section>
					
			</div>
			

		</div>
		<hr class="pro-hr" />
		<section style="margin-top: 2rem;">
			<div class="pro-add-container profile-info">

				<div class="pro-inf">
					<p>Country :</p>
					<p id="country">country</p>
				</div>
				<div class="pro-inf">
					<p>state :</p>
					<p id="state">Role</p>
				</div>
				<div class="pro-inf">
					<p>city :</p>
					<p id="city">1200</p>
				</div>
				<div class="pro-inf">
					<p>street :</p>
					<p id="street">Post</p>
				</div>
				<div class="pro-inf">
					<p>postal code :</p>
					<p id="postal_code"></p>
				</div>
				<div class="pro-inf">
					<p>house no :</p>
					<p id="house_no"></p>
				</div>

			</div>
		</section>

		<a id="ip-pro-button" th:href="@{/uppage}">Update</a>
		<!-- <a id="ip-pro-button" th:href="@{/admin/updateProfilePage}" th:classappend="${userrole == 'user' ? '' : 'hidden'}">Update</a> -->

		<script type="text/javascript"
			th:src="@{/JavaScript/common/profile.js}"></script>
	</section>
</body>
</html>