<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	th:replace="~{publicLayout::publicBase(~{::section})}">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>
	<section>
		<div class="form-main-container">
			<div class="form-box">

				<form class="form" th:action="@{/register}" method="post"
					enctype="multipart/form-data" th:object="${userDAO}">

					<div class="selected-image align-self-center">
						<img id="selected-image-tag" class="selected-image"
							th:src="@{/Images/profile-icon.png}" alt="" />
					</div>

					<div class="input-container">
						<label class="inp-label" for="name">Username:</label> <input
							type="text" class="form-control form-login-input" id="name"
							th:field="*{username}" placeholder="Enter username" required>
						<span class="input-error" style="color: red;"
							th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

						<span style="color: white; font-weight: 500;"
							th:unless="${#fields.hasErrors('username')}">Enter
							Username</span>
					</div>

					<div class="input-container">
						<label class="inp-label" for="pass">Passowrd:</label>
						<div class="password-cover">
							<input type="text" class="form-control form-login-input"
								id="pass" th:field="*{password}" placeholder="Enter password"
								required> <span class="material-symbols-outlined"
								id="eye" onclick="hideAndShowPassword(event)"> visibility
							</span>
						</div>
						<span class="input-error" style="color: red;"
							th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

						<span style="color: white; font-weight: 500;"
							th:unless="${#fields.hasErrors('password')}">Enter
							password</span>
					</div>

					<div class="input-container">
						<label class="inp-label" for="con-pass">Confirm Passowrd:</label>

						<div class="password-cover">
							<input type="text" class="form-control form-login-input"
								id="con-pass" placeholder="Enter password" required
								onkeyUp="mathBothPassword(event)"> <span
								class="material-symbols-outlined" id="con-eye"
								onclick="conHideAndShowPassword(event)"> visibility </span>
						</div>
						<span id="con-pass-span" class="con-pass-span"></span>
					</div>

					<div class="input-container fit-content align-self-center">
						<label class="div-file-inp" title="click here to choose a image"
							for="img">Select Image</label> <input type="file"
							class="form-control input-file" id="img" name="image">

					</div>

					<div class="align-self-center">
						<button class="user-submit" type="submit">Submit</button>
					</div>

					<section>
						<p class="form-alt-link">
							Already have an account <strong><a
								th:href="@{/login}"> Login... </a></strong>
						</p>
					</section>
					

				</form>
					<p class="form-heading-su">Sign-up</p>

			</div>
		</div>
	</section>
</body>
</html>