.login-form-box {
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 1em;
	box-shadow: 5px 5px 31px #00000091, inset 5px 5px 15px #fff9f9, inset
		-5px -5px 25px #83838300;
	background-color: white;
	padding: 8% 5% 2% 5%;
	position: relative;
}

.form-login-input {
	width: 280px;
	height: 30px;
	font-size: x-large;
	background: transparent;
	border: 2px solid navy;
	border-radius: 10px;
	outline: none;
	color: rgb(0, 0, 0);
	padding-left: 10px;
	outline: none;
}

.align-self-center {
	align-self: center;
}

.fit-content {
	width: fit-content;
	height: fit-content;
}

.form-heading, .form-heading-su {
	position: absolute;
	cursor: pointer;
	border-color: #ffffff8f;
	font-size: clamp(.8rem, 4vw, 4rem);
	font-weight: 400;
	text-decoration: underline;
	width: fit-content;
	top: 0px;
}

/* .form-heading-su {
	top: -48rem;
} */

.form-login-input:focus {
	box-shadow: 2px 2px 5px #006aff85, -2px -2px 5px #006aff85;
}