.form-main-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	padding: 1em 0;
	background-color: #e3ebff;
	background-image: url(../Images/Coffee-shop-amico.png);
	background-size: contain;
}

.selected-image {
	width: 10em;
	height: 10em;
	border-radius: 50%;
	object-fit: cover;
}

.password-cover {
	position: relative;
	width: 100%;
}

.form-box {
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 1em;
	box-shadow: 5px 5px 31px #00000091, inset 5px 5px 15px #fff9f9, inset
		-5px -5px 25px #83838300;
	background-color: white;
	padding: 12% 5% 5% 5%;
	position: relative;
}

.up-form-box {
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 1em;
	box-shadow: 5px 5px 31px #00000091, inset 5px 5px 15px #fff9f9, inset
		-5px -5px 25px #83838300;
	background-color: white;
	padding: 4% 5%;
}

.up-form-box {
	height: 40em;
}

.form {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.input-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	margin: 1em 0;
	gap: 5px;
	width: 90%;
}

.form-login-input {
	width: 300px;
	height: 30px;
	font-size: x-large;
	background: transparent;
	border: 2px solid navy;
	border-radius: 10px;
	outline: none;
	color: rgb(0, 0, 0);
	padding-left: 10px;
	outline: none;
}

.form-login-input:focus {
	box-shadow: 2px 2px 5px #006aff85, -2px -2px 5px #006aff85;
}

#eye, #con-eye {
	position: absolute;
	right: -25px;
	cursor: pointer;
	border: 2px solid;
	border-radius: 4px;
	border-color: #ffffff8f;
	top: 3px;
	float: right;
}

.inp-label {
	color: #00000078;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 1.2em;
}

.input-error {
	color: red;
	background-color: #37f7f6b0;
	font-weight: 500;
	padding: 2px 4px;
	border-radius: 5px;
	margin-top: 10px;
}

.matched-password {
	color: lime;
	font-weight: 500;
	background-color: aliceblue;
	padding: 0 5px;
	margin-top: 3px;
}

.matched-password {
	color: lime;
	font-weight: 500;
	background-color: aliceblue;
	padding: 0 20px;
	margin-top: 3px;
}

.matched-not-password {
	color: red;
	font-weight: 500;
	background-color: aliceblue;
	padding: 0 20px;
	margin-top: 3px;
	border-radius: 10px;
}

.user-submit {
	padding: .6em 2em;
	border-radius: 10px;
	border: none;
	font-weight: 500;
	font-size: 1rem;
	background-color: #008bff;
	cursor: pointer;
	box-shadow: 2px 2px 9px #3e80ff, inset 1px 1px 5px #dfdfdfc7, inset
		-.51px -1px 6px #0038e5;
	color: white;
}

.form-alt-link {
	color: red;
	font-weight: 500;
	margin-top: 10px;
}

.input-file {
	opacity: 0;
	z-index: -1;
	border: 2px solid black;
	display: none;
}

.div-file-inp {
	background-color: aliceblue;
	color: black;
	padding: 1em;
	border-radius: 10px;
	cursor: pointer;
}

.pencil {
	background-color: white;
	border: 1px solid;
	color: black;
	border-radius: 10px;
	cursor: pointer;
	font-size: xx-large;
	position: relative;
	top: -12.9em;
	right: -6.4em;
	transform: rotate(-3deg);
}

.div-file-inp:hover, .pencil:hover {
	background-color: white;
	color: black;
	box-shadow: 2px 2px 6px black;
}

.user-submit:hover {
	color: white;
	background-color: #08ffaa;
	cursor: pointer;
}